
/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
wrap-login100
@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #020e1a;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}
/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #fff;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #dddddd;
}

select {  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

body { 
  background: url(../images/back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrap-login100 {
  width: 960px;
  border-radius: 10px;
  box-shadow: 0 0 20px 20px rgb(204, 218, 255, 0.5);
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
  
}

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
  width: 316px;
  opacity: 1.8;
}

.login100-pic img {
  max-width: 100%;
}
.login101-pic{
	top: 0;
	left: 0;
}	
/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 480px;
  padding: 80px 60px 0px 60px;
  background: #1e3c72;
  background-color: #2a5298;
  background-image: linear-gradient(326deg, #1e3c72 0%, #2a5298 74%);
    
}
.login100-form-register{
  width: 480px;
  padding: 80px 70px 20px 70px;
  background: #1e3c72;
  background-color: #2a5298;
  background-image: linear-gradient(326deg, #1e3c72 0%, #2a5298 74%);
}	
.container-right{
  width: 480px;
  padding: 100px 50px 10px 80px;
  background: #08062c;
  background-color: #020e1a;
  background-image: linear-gradient(326deg, #08062c 0%, #020e1a 74%);
}	
.login100-form-title {
  font-family: librebaskerville-bold, serif;
  font-size: 32px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 50px;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
  
}
.wrap-input100 li {
	font-size: 18/16px;
	line-height: 20px;
	font-family: 'librebaskerville-italic', serif;
    margin-left: 10px;
    list-style-type: circle;
}	
.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}

.scroll{
	height: 35vh;
    overflow-y: scroll;
    overflow-x: hidden;
	padding: 20px;
	border-image: conic-gradient(#08062c, #020e1a, #08062c, #020e1a, #08062c, #020e1a, #08062c) 1;
	margin-top: 5px;
	margin-bottom: 10px;
}
 	
.form-274{
	border: dashed;
	border-width: 2px 4px;
	border-radius: 40px;
}
	
#style-11::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 0px;
}

#style-11::-webkit-scrollbar
{
	width: 0px;
	background-color: #F5F5F5;
}

#style-11::-webkit-scrollbar-thumb
{
	background-color: #3366FF;
	border-radius: 0px;
	background-image: -webkit-linear-gradient(0deg,
	                                          rgba(255, 255, 255, 0.5) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, 0.5) 50%,
											  rgba(255, 255, 255, 0.5) 75%,
											  transparent 75%,
											  transparent)
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #306396;
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #020e1a;
  padding-left: 28px;
}
label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  opacity: 1.8;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #020e1a;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #1a0b02;
}



/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .wrap-login100 {
    /*padding: 177px 90px 33px 85px;*/
	padding-top: 135px;
	padding-left: 220px;
  }
  .login100-pic{
	 display: none;
  }  
  #form1cont{
    padding-top:0px;  
  }	  
  .container-right{
  width: 480px;
  padding: 50px 50px 10px 80px;
  background: #08062c;
  background-color: #020e1a;
  background-image: linear-gradient(326deg, #08062c 0%, #020e1a 74%);
  }
  .login100-form {
  width: 480px;
  padding: 50px 60px 0px 60px;
  background: #1e3c72;
  background-color: #2a5298;
  background-image: linear-gradient(326deg, #1e3c72 0%, #2a5298 74%);   
  }  
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }	  
  .login100-pic{
	 display: none;
  } 
  .wrap-login100{
	padding-top: 125px;
  }  
  #form1cont{
    padding-top:0px;  
  }	  
  .container-right{
  width: 480px;
  padding: 50px 50px 10px 80px;
  background: #08062c;
  background-color: #020e1a;
  background-image: linear-gradient(326deg, #08062c 0%, #020e1a 74%);
  }
  .login100-form {
  width: 480px;
  padding: 50px 60px 0px 60px;
  background: #1e3c72;
  background-color: #2a5298;
  background-image: linear-gradient(326deg, #1e3c72 0%, #2a5298 74%);   
  }  
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
  .login100-pic{
	 display: none;
  } 
  .wrap-login100{
	padding-top: 125px;
  }  
  #form1cont{
    padding-top:0px;  
  }	  
  .container-right{
  width: 480px;
  padding: 50px 50px 10px 80px;
  background: #08062c;
  background-color: #020e1a;
  background-image: linear-gradient(326deg, #08062c 0%, #020e1a 74%);
  }
  .login100-form {
  width: 480px;
  padding: 50px 60px 0px 60px;
  background: #1e3c72;
  background-color: #2a5298;
  background-image: linear-gradient(326deg, #1e3c72 0%, #2a5298 74%);   
  }  
  
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}