/* ================================================================== */


/* screenwidth less than 1024px
--------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {

    /* header styles
   ------------------------------------------------------------------ */
   header .banner-text h1 {
      font: 80px/1.1em 'opensans-bold', sans-serif;
      letter-spacing: -1px;
      margin: 0 auto 12px auto;
   }
   .hs {

  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: repeat(6, calc(40% - var(--gutter) * 2));
  grid-template-rows: minmax(400px, 1fr);
  
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));

}
.hs h1{
	font-size: 18px;
	padding-bottom: 0px;
	padding-top: 0px;
}	
.hs p{
	margin: 0;
	padding-top: 5px;
	font-size: 12px;
	padding-bottom: 0px;
	line-height: 16px;
}
.hs Button{
	margin-top: 0;
}
/* screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {

    /* header styles
   ------------------------------------------------------------------ */
   header .banner { padding-bottom: 12px; }
   header .banner-text h1 {
      font: 78px/1.1em 'opensans-bold', sans-serif;
      letter-spacing: -1px;      
   }
   header .banner-text h3 {
      font: 17px/1.9em 'librebaskerville-regular', serif;
      width: 80%;
   }
   header .banner-text hr {
      width: 65%;
      margin: 12px auto;
   }
   /* nav-wrap */
   #nav-wrap {
      font: 11px 'opensans-bold', sans-serif;
      letter-spacing: 1.5px;
   }
	.hs {

  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: repeat(6, calc(40% - var(--gutter) * 2));
  grid-template-rows: minmax(400px, 1fr);
  
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));

}
.hs h1{
	font-size: 18px;
	padding-bottom: 0px;
	padding-top: 0px;
}	
.hs p{
	margin: 0;
	padding-top: 5px;
	font-size: 12px;
	padding-bottom: 0px;
	line-height: 16px;
}
.hs Button{
	margin-top: 0;
}	
   /* About Section
   ------------------------------------------------------------------- */
   #about .profile-pic {
      width: 114px;
      height: 114px;
      margin-left: 12px;
   }
   #about .contact-details { width: 50%; }
   #about .download { width: 50%; }

   /* theme Section
   ------------------------------------------------------------------- */
   #theme h1 { font: 16px/24px 'opensans-bold', sans-serif; }
   #theme .main-col { padding-right: 5%; }

    /* Stats Section
   ------------------------------------------------------------------- */
   #stats h1 { font: 16px/24px 'opensans-bold', sans-serif; }
   #stats .main-col { padding-right: 5%; }   
	
    /* Events Section
   ------------------------------------------------------------------- */
   #events h1 { font: 16px/24px 'opensans-bold', sans-serif; }
   #events .main-col { padding-right: 5%; }   

   /* Testimonials Section
   ------------------------------------------------------------------- */
   #testimonials .header-col h1:before {
      font-size: 66px;
      line-height: 66px;
   }
   #testimonials blockquote p {
      font-size: 22px;
      line-height: 46px;      
   }

    /* Call to Action Section
   ------------------------------------------------------------------- */
   #call-to-action .header-col h1:before {
      font-size: 66px;
      line-height: 66px;
   }

   /* Contact Section
   ------------------------------------------------------------------- */
   #contact .section-head { margin-bottom: 30px; }
   #contact .header-col h1:before {
      font-size: 66px;
      line-height: 66px;
   }
   #contact .section-head p.lead { font: 17px/33px opensans-light, sans-serif; }


}

/* mobile wide/smaller tablets
---------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {

   /* mobile navigation
   -------------------------------------------------------------------- */
   #nav-wrap {
      font: 12px 'opensans-bold', sans-serif;
      background: transparent !important;
      letter-spacing: 1.5px;  
      width: auto;
      position: fixed;
      top: 0;
      right: 0;
   }
   #nav-wrap > a {
	   width: 48px;
		height: 48px;
		text-align: left;
		background-color: #CC5200;
		position: relative;
      border: none;
      float: right;

      font: 0/0 a;
      text-shadow: none;
      color: transparent;

      position: relative;
      top: 0px;
      right: 30px;
   }
.profile-pic{
	display: none;
}	
.rightButton{
   position: absolute;
   top: 0;
   left: 0;
   margin-top: 5px; 
   margin-left: 5px;
} 
	#nav-wrap > a:before,
   #nav-wrap > a:after {
	   position: absolute;
		border: 2px solid #fff;
		top: 35%;
		left: 25%;
		right: 25%;
		content: '';
	}
   #nav-wrap > a:after { top: 60%; }

   /* toggle buttons */
	#nav-wrap:not( :target ) > a:first-of-type,
	#nav-wrap:target > a:last-of-type  {
	   display: block;
	}

   /* hide menu panel */
   #nav-wrap ul#nav {
      height: auto;
		display: none;
      clear: both;
      width: auto; 
      float: right;     

      position: relative;
      top: 12px;
      right: 0;
   }

   /* display menu panels */
	#nav-wrap:target > ul#nav	{
	   display: block;
      padding: 30px 20px 48px 20px;
      background: #1f2024;
      margin: 0 30px;
      clear: both;
   }

   ul#nav li {
      display: block;
      height: auto;      
      margin: 0 auto; 
      padding: 0 4%;           
      text-align: left;
      border-bottom: 1px solid #2D2E34;
      border-bottom-style: dotted; 
   }
  
   ul#nav li a {  
      display: block;    
      margin: 0;
      padding: 0;      
      margin: 12px 0; 
      line-height: 16px; /* reset line-height from 48px */
      border: none;
   }  


   /* Header Styles
   -------------------------------------------------------------------- */
   header .banner {
      padding-bottom: 12px;
      padding-top: 6px;
   }
   header .banner-text h1 { font: 68px/1.1em 'opensans-bold', sans-serif; }
   header .banner-text h3 {
      font: 16px/1.9em 'librebaskerville-regular', serif;
      width: 85%;
   }
   header .banner-text hr {
      width: 80%;
      margin: 18px auto;
   }

   /* header social links */
   header .social {
      margin: 18px 0 24px 0;
      font-size: 24px;
      line-height: 36px;      
   }
   header .social li { margin: 0 10px; }

    /* scrolldown link */
   header .scrolldown { display: none; }
	.hs {

	  display: grid;
	  grid-gap: calc(var(--gutter) / 3);
	  grid-template-columns: repeat(6, calc(50% - var(--gutter) * 2));
	  grid-template-rows: minmax(400px, 1fr);
	  
	  overflow-x: scroll;
	  scroll-snap-type: x proximity;
	  padding-bottom: calc(.75 * var(--gutter));
	  margin-bottom: calc(-.25 * var(--gutter));

	}
.hs h1{
	font-size: 18px;
	padding-bottom: 0px;
	padding-top: 0px;
}	
.hs p{
	margin: 0;
	padding-top: 5px;
	font-size: 12px;
	padding-bottom: 0px;
	line-height: 16px;
}
.hs Button{
	margin-top: 0;

}	
   /* About Section
   -------------------------------------------------------------------- */
   #about .profile-pic { display: none; }
   #about .download .button {
      width: 100%;
      text-align: center;
      padding: 15px 20px;
   }
   #about .main-col { padding-right: 30px; }


   /* theme Section
   --------------------------------------------------------------------- */
   #theme .header-col {
      padding-top: 0;
      margin-bottom: 48px;
      text-align: center;
   }
   #theme h1 { letter-spacing: 3px; }
   #theme .main-col { padding-right: 30px; }
   #theme h3, #theme .info { text-align: center; }
      
   .bars { width: 100%; }

	/* Stats Section
   --------------------------------------------------------------------- */
   #stats .header-col {
      padding-top: 0;
      margin-bottom: 48px;
      text-align: center;
   }
   #stats h1 { letter-spacing: 3px; }
   #stats .main-col { padding-right: 30px; }
   #stats h3, #theme .info { text-align: center; }
      
   .bars { width: 100%; }

	/* Events Section
   --------------------------------------------------------------------- */
   #events .header-col {
      padding-top: 0;
      margin-bottom: 48px;
      text-align: center;
   }
   #events h1 { letter-spacing: 3px; }
   #events .main-col { padding-right: 30px; }
   #events h3, #theme .info { text-align: center; }
      
   .bars { width: 100%; }


   /* Call To Action Section
   /* ----------------------------------------------------------------- */
   #call-to-action { text-align: center; }
   #call-to-action h1 {
      font: 16px/24px 'opensans-bold', sans-serif;
      text-align: center;
      margin-bottom: 30px;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
   }
   #call-to-action h1 span { display: block; }
   #call-to-action .header-col h1:before { content: none; }
   #call-to-action p { font-size: 15px; }


   /* Portfolio Section
   /* ----------------------------------------------------------------- */
   #portfolio-wrapper .columns { margin-bottom: 40px; }
   .popup-modal {	max-width: 85%; }


   /* Testimonials Section
   ----------------------------------------------------------------------- */
   #testimonials .text-container { text-align: center; }
   #testimonials h1 {
      font: 16px/24px 'opensans-bold', sans-serif;
      text-align: center;
      margin-bottom: 30px;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
   }
   #testimonials h1 span { display: block; }
   #testimonials .header-col h1:before { content: none; }
   #testimonials blockquote { padding-bottom: 24px; }
   #testimonials blockquote p {
      font-size: 20px;
      line-height: 42px;      
   }

   /* Control Nav */
   .flex-control-nav {
      text-align: center;
      margin-left: -30px;
   }


   /* contact Section
   ----------------------------------------------------------------------- */
   #contact { padding-bottom: 66px; }
   #contact .section-head { margin-bottom: 12px; }
   #contact .section-head h1 {
      font: 16px/24px 'opensans-bold', sans-serif;            
      text-align: center;   
      margin-bottom: 30px;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
   }  
   #contact h1 span { display: block; }
   #contact .header-col { padding-top: 0; }
   #contact .header-col h1:before { content: none;	}
   #contact .section-head p.lead { text-align: center;}

   /* form */
   #contact label {
      float: none;
      width: 100%;
   }
   #contact input,
   #contact textarea,
   #contact select {
     	margin-bottom: 6px;    	
      width: 100%;
   }
   #contact button.submit { margin: 30px 0 24px 0; }
   #message-warning, #message-success {
      width: 100%;
      margin-left: 0;
   }


   /* footer
   ------------------------------------------------------------------------ */
  
   /* copyright */
   footer .copyright li:before { content: none; }
   footer .copyright li { margin-right: 12px; }

   /* social links */
   footer .social-links { font-size: 22px; }
   footer .social-links li { margin-left: 18px; }

   /* Go To Top Button */
   #go-top { margin-left: -22px; }
   #go-top a {
   	width: 54px;
   	height: 54px;
      font-size: 18px;
      line-height: 54px;
   }


}

/* mobile narrow
  -------------------------------------------------------------------------- */

@media only screen and (max-width: 480px) {

   /* mobile navigation
   -------------------------------------------------------------------- */  
   #nav-wrap ul#nav { width: auto; float: none;  }

   /* header styles
   -------------------------------------------------------------------- */
   
   header .banner { padding-top: 24px; }
   header .banner-text h1 {
      font: 40px/1.1em 'opensans-bold', sans-serif;      
      margin: 0 auto 24px auto;
   }
   header .banner-text h3 {
      font: 14px/1.9em 'librebaskerville-regular', sans-serif;
      width: 90%;
   }
  
   /* header social links */
   header .social { font-size: 30px;}
   header .social li { margin: 0 6px; }
   

.profile-pic{
	display: none;
}	
.rightButton{
   position: absolute;
   top: 0;
   left: 0;
   margin-top: 5px; 
   margin-left: 5px;
}   

	/* theme Section
   --------------------------------------------------------------------- */
   #theme {
	    background: #fefefe;
   }   
	
	/* Events Section
   --------------------------------------------------------------------- */
   #events {
   background: #330702 url("../images/events.jpg") no-repeat top center;
   padding-top: 80px;
   padding-bottom: 100px;
   overflow: hidden;
   
	}
.hs{
  display: grid;
  grid-gap: calc(var(--gutter) / 6);
  grid-template-columns: repeat(6, calc(100% - var(--gutter) * 2));
  grid-template-rows: minmax(400px, 1fr);
  
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
}
.hs h1{
	font-size: 18px;
	padding-bottom: 0px;
	padding-top: 0px;
}	
.hs p{
	margin: 0;
	padding-top: 5px;
	font-size: 12px;
	padding-bottom: 0px;
	line-height: 16px;
}
.hs Button{
	margin-top: 0;

}	
.rule{
	display: none;
}
.rule1{
	display: none;
}	

	#events .header-col { padding-top: 9px; }


	#events a, #stats a:visited  { color: #11ABB0; }
	#events a:hover, #stats a:focus { color: #313131; }

   .pos{
	padding-bottom: 250px;
	
	}	
	.container {
	  position: absolute;
	  height: 150px;
	  width: 300px;
	  top: 60px;
	  padding-top: 40px;
	  display: flex;
	}

	.card {
	  display: flex;
	  height: 150px;
	  width: 300px;
	  background-color: #17141d;
	  border-radius: 10px;
	  box-shadow: -1rem 0 3rem #000;
	/*   margin-left: -50px; */
	  transition: 0.4s ease-out;
	  
	  left: 0px;
	}

	.card:not(:first-child) {
		margin-left: -50px;
	}

	.card:hover {
	  transform: translateY(-20px);
	  transition: 0.4s ease-out;
	}

	.card:hover ~ .card {
	  position: relative;
	  left: 50px;
	  transition: 0.4s ease-out;
	}

	.title {
	  font-family: 'librebaskerville-italic', serif;
	  font-size: 14px;
	  color: #fefefe;
	  position: absolute;
	  left: 8px;
	  top: 5px;
	  letter-spacing: 1px;
	  line-height: 1.5em;
	}

	.bar {
	  position: absolute;
	  top: 60px;
	  left: 20px;
	  height: 5px;
	  width: 75px;
	}

	.emptybar {
	  background-color: #2e3033;
	  width: 100%;
	  height: 100%;
	}

	.filledbar {
	  position: absolute;
	  top: 0px;
	  z-index: 3;
	  width: 0px;
	  height: 100%;
	  background: rgb(0,154,217);
	  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
	  transition: 0.6s ease-out;
	}

	.card:hover .filledbar {
	  width: 75px;
	  transition: 0.4s ease-out;
	}

	.circle {
	  position: absolute;
	  top: 150px;
	  left: calc(50% - 60px);
	}

	.stroke {
	  stroke: #330702;
	  stroke-dasharray: 360;
	  stroke-dashoffset: 360;
	  transition: 0.6s ease-out;
	}

	svg {
	  fill: transparent;
	  stroke-width: 2px;
	}

	.card:hover .stroke {
	  stroke-dashoffset: 100;
	  transition: 0.6s ease-out;
	}

	.eventImg{
	  display: flex;
	  height: 250px;
	  margin-top: 75px;
	}
	.eventImg img{
	  border-radius: 10px;	
	}	

   /* Contact
   ------------------------------------------------------------------------ */
    
#contact video{
	height: auto;
	width: 300px;
	border-radius: 50px;
	border: 5px solid #330702;
	box-shadow: -1rem 0 1rem #440702;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
}

#contact video:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.contMed{
	padding-top: 50px;
}	
   /* footer
   ------------------------------------------------------------------------ */

   /* social links */
   footer .social-links { font-size: 20px; }
   footer .social-links li { margin-left: 14px; }   

}









